<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= msg %></p>
<!--    <form method='post' action='/'>
      <input type="text" name="text1">
      <input type="submit">
    </form>
-->
  </body>
</html>
